
.ipynb_checkpoints/investment-case-study-checkpoint.ipynb
case-study-1/.ipynb_checkpoints/investment-case-study-checkpoint.ipynb
case-study-1/.ipynb_checkpoints/investment-case-study_SR_AN-checkpoint.ipynb
case-study-2/.ipynb_checkpoints/GramenerCaseStudy-checkpoint.ipynb
ChurnCaseStudy/.ipynb_checkpoints/Telecom-Churn-Krishnan-checkpoint.ipynb
